.body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App-logo {
    width: 5vmax;
    margin-right: 20px;
}

.title {
    font-size: 2em;
    margin: 0;
}

.plot-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.repro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repro-logo {
    width: 150px;
}

.play-button {
    background-color: #1DB954;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.play-button:disabled {
    background-color: gray;
}
