
.camera-map{
    background-color: #f7f7f7;
    margin-top: 4rem;
    padding: 1%;
    min-height: 89vh;
}

.camera-map-title{
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #333;
}

.camera-map-container {
    display: flex;
    background-color: #f7f7f7;
    flex-direction: row;
    justify-content: space-between;
}

.minimap-container {
    flex: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 2% 0 2% 2%;
}

.camera-viewer {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.camera-feed {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.camera-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.camera-controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.camera-controls button:hover {
    background-color: #0056b3;
}

.custom-camera-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.camera-marker-icon {
    width: 30px;
    height: 30px;
}

.camera-marker-content {
    font-size: 12px;
    text-align: center;
}

.camera-marker-text {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.camera-popup {
    text-align: left;
    font-size: 14px;
}

.camera-popup a {
    color: #007bff;
    text-decoration: none;
}

.camera-popup a:hover {
    text-decoration: underline;
}

.custom-turbine-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.turbine-marker-icon {
    width: 30px;
    height: 30px;
}

.turbine-marker-text {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.turbine-popup {
    text-align: left;
    font-size: 14px;
}