.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Fondo blanco mientras carga */
    z-index: 9999; /* Asegúrate de que esté encima de todo */
}

.loader-logo {
    width: 100px; /* Ajusta el tamaño del logo */
    height: 100px;
    animation: spin 2s linear infinite; /* Animación de giro */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}